@import "site.mixins.less";


.s-AddAnAsset-AssetDetailsDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-DocumentDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-AssetWarrantyDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-AssetMaintenanceDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-CheckInDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-CheckOutDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-LeaseDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-RepairAssetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-BrokenAssetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-DisposeAssetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-DonateAssetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-AddAnAsset-SellAssetDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}