{
    "RootNamespace": "AssetManagement",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=DESKTOP-UDEKBNE\\SACHIN; Initial Catalog=AssetManagement_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.Country",
                    "Identifier": "Country",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Currency",
                    "Identifier": "Currency",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.State",
                    "Identifier": "State",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Site",
                    "Identifier": "Site",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Location",
                    "Identifier": "Location",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Category",
                    "Identifier": "Category",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Department",
                    "Identifier": "Department",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Company",
                    "Identifier": "Company",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employee",
                    "Identifier": "Employee",
                    "Module": "Advanced",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customers",
                    "Identifier": "Customers",
                    "Module": "Advanced",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Funding",
                    "Identifier": "Funding",
                    "Module": "Advanced",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Brand",
                    "Identifier": "Brand",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AssetDetails",
                    "Identifier": "AssetDetails",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Document",
                    "Identifier": "Document",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.MaintenanceStatus",
                    "Identifier": "MaintenanceStatus",
                    "Module": "Setup",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AssetWarranty",
                    "Identifier": "AssetWarranty",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.AssetMaintenance",
                    "Identifier": "AssetMaintenance",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CheckIn",
                    "Identifier": "CheckIn",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.CheckOut",
                    "Identifier": "CheckOut",
                    "Module": "AddAnAsset",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\AssetManagement\\AssetManagement.Web\\AssetManagement.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}