@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.State.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.Setup.StateGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>