@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AddAnAsset.RepairAsset.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.AddAnAsset.RepairAssetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>