@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AddAnAsset.CheckOut.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.AddAnAsset.CheckOutGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>