@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AddAnAsset.DonateAsset.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.AddAnAsset.DonateAssetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>