@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Setup.Country.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.Setup.CountryGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>