@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.AddAnAsset.BrokenAsset.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new AssetManagement.AddAnAsset.BrokenAssetGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>